

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
 
  .image-backgrnd {
   
    background-image: url('Black\ White\ Photo\ Collage\ Thrift\ Shop\ Instagram\ Post-3.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#back_btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#back_btn:hover {
    background-color: #0056b3;
}

#submit_btn:hover {
    background-color: #0056b3;
}
#message {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color:black; 
    color: white;
    border-radius: 5px;
}

#submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 375px) {
    .container1, .container2 {
        width: 100%;
        padding: 10px;
        margin: 5px;
        height: auto;
    }

    .image-backgrnd {
        display: none; 
    }

    input[type=text], select, textarea {
        font-size: 12px; 
    }

    .image img, .image2 img {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .circle, .circle2, .circle4, .circle5, .line1, .line3 {
        display: none; 
    }
}